div.projects {
    background-color: #222529;
    padding: 70px 85px;
}
div.projects h1 {
    color: white;
    margin-bottom: 30px;
}
div.accordion-body {
    padding : 30px;
}

div.accordion-item {
    background-color: #3d434a;
    color: #f3f3f3;
}
.project-card.card-body {
    display: flex;
}
div.project-card-left,
div.project-card-right {
    width: 50%;
}

div.accordion-item > h2.accordion-header {
    background-color: #3d434a;
    color: #f3f3f3;
}
button.accordion-button {
    background-color: #3d434a;
    color: #f3f3f3;
}

div.accordion-item h2.accordion-header {
    background-color: #222529;
}

div.card-body {
    padding: 30px;

}
div.card-body h3 {
    font-weight: bold;
}
div.card-body p {
    font-family: Montserrat, sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-top: 20px;
}

