@media screen and (max-width: 1080px) {
    div.main-container {
        flex-direction: column;
        height: auto;
    }
    .fixed-container {
        position: relative;
        width: 100%;
        height: auto;
    }
    .scroll-container {
        width: 100%;
        margin-left: 0;
        height: auto;
    }
    div.hero p {
        max-width: 325px;
    }
    div.hero,
    div.projects,
    div.skills,
    div.contactForm {
        margin: 40px;
    }
    div.work {
        padding: 10px;
    }
    div h3.body-text,
    div p.body-text {
        min-width: 500px;
    }
    p.date-text {
        min-width: 200px;
    }
}
@media screen and (max-width: 930px) {
    h3.body-text,
    p.body-text {
        display: block;
    }
    div.work div.card-body-right {
        margin-left: 0;
    }
}
@media screen and (max-width: 865px) {
    /*div.hero,*/
    /*div.projects,*/
    /*div.skills,*/
    /*div.contactForm {*/
    /*    padding: 50px 50px;*/
    /*}*/
    div.card-body-left,
    div.card-body-right {
        display: block;
    }
    div h3.body-text,
    div p.body-text {
        max-width: 80vw;
    }
    p.date-text {
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 629px) {
    div.vstack {
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 592px) {
    .mx-5 {
        justify-content: start;
        margin: 0;
    }
}
@media screen and (max-width: 575px) {
    div.col-sm-4 {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 430px) {
    div.hero,
    div.projects,
    div.skills,
    div.contactForm {
        padding: 30px 30px;
    }
    div.card-body {
        padding: 10px;
    }
    div.accordion-body {
        padding : 10px;
    }
}