@media screen and (max-width: 1080px) {
    div.main-container {
        flex-direction: column;
        height: auto;
    }
    .fixed-container {
        position: relative;
        width: 100%;
        height: auto;
    }
    .scroll-container {
        width: 100%;
        margin-left: 0;
        height: auto;
    }
    div.hero p {
        max-width: 325px;
    }
    div.hero {
        margin: 40px;
    }
    .navbar-brand {
        color: #f3f3f3; /* Active link color (e.g., white) */
        font-variant: small-caps;
    }
    div.projects,
    div.skills,
    div.contactForm {
        margin: 60px 40px 40px 40px;
    }
    footer.footer {
        margin: 40px 0 20px 40px;
    }
    div.work {
        padding: 10px;
    }
    div h3.body-text,
    div p.body-text {
        min-width: 100%;
    }
    p.date-text {
        min-width: 200px;
    }
}
@media screen and (max-width: 930px) {
    div.work div.card-body-right {
        margin-left: 0;
    }
}
@media screen and (max-width: 865px) {
    div.card-body-left,
    div.card-body-right {
        display: block;
    }
    div.card-body-right {
        overflow: hidden;
    }
    p.date-text {
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 629px) {
    div.vstack {
        padding: 0;
        margin: 0;
    }
    div.work {
        padding-right: 0;
    }
}
@media screen and (max-width: 592px) {
    .mx-5 {
        justify-content: start;
        margin: 0;
    }
    div.card-body-right {
        max-width: 100%;
    }
    div.hero {
        margin: 20px;
    }
    div.projects,
    div.skills,
    div.contactForm {
        margin: 60px 20px 20px 20px;
    }
    div.work {
        margin-top: 60px;
    }
    footer.footer {
        margin: 40px 0 20px 20px;
    }
    div.work div.card-body {
        padding: 10px;
    }
}
@media screen and (max-width: 575px) {
    div.col-sm-4 {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 430px) {
    div.card-body {
        padding: 10px;
    }
    div.accordion-body {
        padding : 10px;
    }
}