div.work {
    background-color: #222529;
    padding: 70px 85px 70px 50px;
}

div.work h1 {
    color: white;
    margin-bottom: 30px;
}
div.work div.card {
    border: 1px solid #222529;
}
div.work div.card-body {
    background-color: #222529;
}
div.work div.card-body:hover {
    background-color: rgb(34, 37, 41, .9);
}
div.work div.card:hover {
    border: 1px solid #222529;
}